<?xml version="1.0"?>
<ruleset name="Panaly Project Analyzer - Symfony Dump Plugin">
    <arg value="p"/>
    <arg value="s"/>
    <arg name="colors"/>
    <arg name="cache" value=".phpcs-cache"/>

    <file>src</file>
    <file>tests</file>

    <rule ref="Doctrine">
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification"/>
    </rule>
</ruleset>
